RewriteEngine On
    RewriteBase /
    RewriteRule ^api/(.*)$ api/index.php [L]
    
    RewriteBase /accounting/

    # Redirect all requests to index.html except existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /accounting/index.html [L]