.idea/
desktop-app/node_modules/
desktop-app/node_modules/.bin/acorn.cmd
desktop-app/node_modules/tailwindcss/lib/util/cloneNodes.js
desktop-app/node_modules/tailwindcss/defaultConfig.js
*.ps1
api/vendor/
website/vendor/
/api/maintenanceLock.lock
/api/migrationLock.lock
/api/.env
/website/.env
tailwind-css/tailwindcss-windows-x64.exe
/vue-web-design/.vscode/
.vs/
references/
print-service/target
printer-chrome-extension/node_modules